#home {
  position: relative;
font-size: 1.6rem;
  .app__wrapper {
    padding: 0;
    .copyright {
      display: none;
    }
  }
}

span{
  color: white;
  font-weight: 700;

}
.app__header {
  flex: 1;
    display: flex;
    position: relative;
    margin-top: 15rem;
    width: 90%;
  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 750px) {
    padding: 1rem 1rem 1rem;
    margin-left: -4rem;
    gap: 4rem;
    letter-spacing: 15px;
    width: 100%;
    flex-direction: column;
  }
}



// .app__header-badge {
//   width: 100%;
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-end;
//   flex-direction: column;

//   .badge-cmp,
//   .tag-cmp {
//     padding: 1rem 2rem;
//    background: -webkit-gradient(linear,left top,left bottom,from(rgba(35,37,49,.5)),to(rgba(15,15,24,.5)));
//     background: -webkit-linear-gradient(top,rgba(35,37,49,.5),rgba(15,15,24,.5));
//     background: linear-gradient(180deg,rgba(35,37,49,.5),rgba(15,15,24,.5));
//     border: 0.2rem solid #20222e;
//     -webkit-backdrop-filter: blur(54px);
//     backdrop-filter: blur(54px);
//     border-radius: 7.3rem;
//     border-radius: 15px;
//     flex-direction: row;
//     width: auto;

//     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
//   }

//   .tag-cmp {
//     flex-direction: column;
//     margin-top: 3rem;

//     p {
//       width: 100%;
//       text-transform: uppercase;
//       text-align: right;
//       font-family: var(--font-primary);
//     }
//   }

//   span {
//     font-size: 2.5rem;

//     @media screen and (min-width: 2000px) {
//       font-size: 5rem;
//     }
//   }

//   @media screen and (max-width: 1200px) {
//     justify-content: flex-start;
//     align-items: flex-start;
//   }
// }

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 5rem;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
     background: -webkit-gradient(linear,left top,left bottom,from(rgba(35,37,49,.5)),to(rgba(15,15,24,.5)));
    background: -webkit-linear-gradient(top,rgba(35,37,49,.5),rgba(15,15,24,.5));
    background: linear-gradient(180deg,rgba(35,37,49,.5),rgba(15,15,24,.5));

    img {
      width: 60%;
      height: 60%;
    }
  }

  // circles with different height & width

  div:nth-child(1) {
    width: 100px;
    height: 100px;
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 150px;
    height: 150px;
  }

  div:nth-child(3) {
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(2) {
      width: 400px;
      height: 400px;
    }

    div:nth-child(3) {
      width: 170px;
      height: 170px;
    }

    div:nth-child(1) {
      width: 200px;
      height: 200px;
    }
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    div {
      margin: 1rem;
    }
    @media screen and (max-width: 750px){
      .app__header-circles {
  grid-column-start: 12/14;}
    }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
  }


  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}
.header__hero--heading {
 grid-column-start: auto;
    width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0 50%;
}
}



/* --------- */




.header{
display: grid;
grid-template-columns: repeat(2, 1fr);
}

.header__hero--cta {
    margin-top: 3rem;
    display: inline-block;
    font-family: 'D-DIN Condensed',sans-serif;
    font-size: 1.8rem;
    line-height: 92.4%;
    letter-spacing: .19em;
    color: #c4c4c4;
    text-decoration: none;
    position: relative;
}
.header__hero--cta::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 50%;
    height: 1px;
    background: #c4c4c4;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

